$esteban-color: blue;
$font-bodl: bold;
$standard-border: 2px solid black;
$standard-margin: 30px;
$border-circle: 50%;
$social-media-icon-w: 32px;
$social-media-icon-h: 32px;
$social-media-icon-padding: 10px;